numpy==1.11.0
openpyxl==2.3.4
pandas==0.18.0
pyglet==1.2.4
pyserial==3.0.1
SQLAlchemy==1.0.12
tabulate==0.7.5
# This rougly corresponds to vispy 0.5.0.dev0.
# It is for the plotting capability of vispy.
git+git://github.com/vispy/vispy.git@053b6f40da9246db6e1746a07bc0141a3756eb14